<ion-split-pane>

  <ion-menu contentId='content'>
    <ion-header>
      <ion-toolbar color='secondary'>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content color="tertiary">
      <div class='menu-container'>
        <ion-menu-toggle *ngFor='let p of pages' class='menu-item'>
          <a *ngIf="p.title !== 'Iniciar Sesión' && p.title !== 'Cerrar Sesión'" [routerLink]="p.url" routerDirection='root'>{{p.title}} </a>
          <a *ngIf="p.title === 'Iniciar Sesión' && !auth" [routerLink]="p.url" routerDirection='root'>{{p.title}}</a>
          <a *ngIf="p.title === 'Iniciar Sesión' && auth" routerLink="/menu/home" routerDirection='root'>Cerrar Sesión</a>
          <h1>></h1>
        </ion-menu-toggle>
      </div>
      <!-- <ion-list>
        <ion-menu-toggle auto-hide='false' *ngFor='let p of pages'>
          <ion-item *ngIf="p.title !== 'Iniciar Sesión' && p.title !== 'Cerrar Sesión'" [routerLink]="p.url" routerDirection='root' [class.active-item]="selectedPath === p.url" >
            {{p.title}}
          </ion-item>
          <ion-item *ngIf="p.title === 'Iniciar Sesión' && !auth" [routerLink]="p.url" routerDirection='root' [class.active-item]="selectedPath === p.url" >
            {{p.title}} 
          </ion-item>
          <ion-item *ngIf="p.title === 'Cerrar Sesión' && auth" [routerLink]="p.url" routerDirection='root' [class.active-item]="selectedPath === p.url" >
            {{p.title}} 
          </ion-item>
        </ion-menu-toggle>
      </ion-list> -->
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id='content' main></ion-router-outlet>

</ion-split-pane>