<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>Tus Reservaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <div class='content'>
    <div *ngIf="bookings.length > 0" class='bookings-container'>
      <div class='booking' *ngFor='let booking of bookings'>
        <img [src]='booking.restaurant.imageUrl'>
        <h2>{{ booking.restaurant.name }}</h2>
        <p>Fecha: {{ booking.date }}</p>
        <p>Hora: {{ booking.time }}</p>
        <p>Cantidad: {{booking.people}}</p>
        <p>Mesa: {{booking.table}}</p>
      </div>
    </div>
    <div *ngIf="bookings.length === 0" class='no-bookings'>
      <h1>¡Haz tu primera reservación!</h1>
      <ion-button expand='full' [routerLink]="menu/restaurants">Restaurantes</ion-button>
    </div>
  </div>
  <!-- <ion-card *ngFor='let booking of bookings'>
    <ion-card-title>
      <ion-thumbnail slot="start">
        <ion-img [src]='booking.restaurant.imageUrl'></ion-img>
      </ion-thumbnail>
      <ion-label>{{ booking.restaurant.name }}</ion-label>
    </ion-card-title>
    <ion-card-content>
      <p>Fecha: {{ booking.date }}</p>
      <p>Hora: {{ booking.time }}</p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
